* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body,
input[value],
input[placeholder] {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

#numeri-display {
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: lightpink;
  color: black;
}

#numeri-display p#numeri-output {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 2px dotted violet;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

#countdown {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: red;
  color: white;
}

#numeri-input {
  text-align: center;
  padding: 20px;
  border: 3px solid lightpink;
}

#numeri-input h2 {
  margin-bottom: 10px;
}

#numeri-input input[type="number"] {
  white-space: nowrap;
  padding: 5px;
  margin: 10px 10px;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 4px lightgrey;
}

#numeri-input input[type="submit"] {
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: lightgrey;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

#numeri-input.display-none {
  display: none;
}
